<app-header></app-header>

<img src="../assets/imgs/about.jpg" alt="banner图">
<div class="content">
    <h1>深圳挺好国际物流有限公司</h1>
    <h3>一、公司简介</h3>
    <p>深圳挺好国际物流有限公司成立于2020年，是一个专注于一站式跨境物流运输服务的物流平台，隶属辽宁挺好集团旗下子公司，集团业务范围涉及国内外陆运、空运、铁运、仓储及配送。
    </p>
    <br>
    <h3>二、企业理念</h3>
    <p>公司走质量效益型发展道路，时刻以“筑品质工程，正建筑之魂，成百年基业”作为企业愿景，秉承“诚信赢得市场，服务铸造品牌”的价值理念应对市场和满足客户的需求，守正立企树基业，开拓创新赢未来。

    </p>
    <br>
    <h3>三、公司规模</h3>
    <p>我们拥有一支专业且经验丰富的领导团队，年轻热情且富有活力的员工队伍，规模目前达100人，我们注重每一位员工的发展道路及未来职业规划。<br>
    办公场地及仓储场地达五万平方米，华南已有三家集货中心，华东五家集货中心。</p>
    <h3>四、经营范围</h3>
    <p>公司经营范围包括：一般经营项目是：国内货物运输代理，国际船舶代理，国际货物运输代理，普通货物仓储服务（不含危险化学品等需许可审批的项目），软件开发，供应链管理服务，信息咨询服务（不含许可类信息咨询服务），网络技术服务等。
    </p>
    <br>
    <h3>五、经营产品</h3>
    <p>业务范围涉及国内外陆运、空运、铁运、仓储及配送。<br>
    为全球货主提供全渠道的国际空运，国际快递服务以及落地配送、海外仓储、通关清关等全套高标准运输服务。
    </p>
    <ol>
        <li> 渠道：美国、加拿大、巴西、俄罗斯、日本、韩国、澳大利亚、哈萨克斯坦等专线。</li>
        <li> 专线优势：价格低，服务优，渠道优（渠道高效、时效短且稳定），每周固定航班，不限量、不排仓，偏远地区可发</li>
        <li> 优势服务
            <ul>
                <li>免费取货：免费上门提货，节约客户时间；</li>
                <li>自主灵活：选择最适合的线路；</li>
                <li>个性化服务：为客户提供最需求的增值服务。</li>
            </ul>
        </li>
    </ol>
    <br>
    <h3>六、未来愿景</h3>
    <ol>
        <li>在全国各地都有我们的集货中心。</li>
        <li>具备全球海陆空全方位运输服务能力。</li>
        <li>不断开辟新渠道、不断拓展新业务、不断为客户提供优质的服务，成为不断壮大的国际知名跨境物流集团公司。</li>
    </ol>
    <br>
</div>