<section class="block-wrap block-about">
    <div class="blank120 visible-md visible-lg"></div>
    <div class="blank60 hidden-md hidden-lg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block_title">
                    <h2 class="main-title">ABOUT US</h2>
                    <h3 class="sub-title">关于我们</h3>
                </div>
                <p class="main-paragraph">
                </p>
                <p><span style="font-family:Microsoft YaHei;"><span style="font-size:10.5pt"><span
                                style="font-size:10.5000pt">深圳挺好国际物流有限公司成立于2020年，是一个专注于一站式跨境物流运输服务的物流平台，隶属辽宁挺好集团旗下子公司，集团业务范围涉及国内外陆运、空运、铁运、仓储及配送。</span></span></span>
                </p>
                <p></p>

                <div class="main-btn"><a style="color: #13227a;" routerLink="/about">了解更多</a></div>
            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="img-box">
                        <img src="../../assets/imgs/car.jpg" data-action="" style="margin: 20px 10px;" alt="挺好物流">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>