<section class="block-wrap block-partner">
    <div class="blank120 visible-md visible-lg"></div>
    <div class="blank60 hidden-md hidden-lg"></div>
    <div class="container">
        <div class="block_title">
            <a target="_blank" >
                <h2 class="main-title ta-c color-white">Partner</h2>
                <h3 class="sub-title ta-c color-white"> 合作伙伴</h3>
            </a>
        </div>
        <div class="blank80"></div>
        <div class="row">
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.poste.it/" target="_blank"><img src="http://oss.yunexpress.com/post/20200310/29efa300432d4257b6727085a94887ff.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.aftership.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20200828/c5b09cb24d494ff9929303e52c58583f.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.amazon.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20190302/40a1d18c7ba748759dfad0bf845ce4b4.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.joom.com/en" target="_blank"><img src="http://oss.yunexpress.com/post/20190302/156f9218cfb2401087b77bf35db94ee1.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.vova.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20200310/5b0b560fd9054f9bab4fdd0c62ba0f0f.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.wish.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20200309/339a3c26453342599be01bae3f0d57c7.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.colissimo.entreprise.laposte.fr/en/delai-international" target="_blank"><img src="http://oss.yunexpress.com/post/20190302/8ab551387aa34286b0e91437c1631e31.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="http://www.dhl.com/en.html" target="_blank"><img src="http://oss.yunexpress.com/post/20190302/b8a817c800004b6e90cc46b4023dcd4e.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.trackingmore.com/gls-tracking/cn.html" target="_blank"><img src="http://oss.yunexpress.com/post/20200310/69238d3e904b4ce38334bc098dc5e71c.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="http://www.ikjds.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20190522/abed5d4d09464d8ba6248fb98284786c.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.szcbea.org/" target="_blank"><img src="http://oss.yunexpress.com/post/20200313/90d2cb381e5348d4b31cc68e683dcfba.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-xs-6">
                            <div class="img-box">
                                    <a href="https://www.eccang.com/" target="_blank"><img src="http://oss.yunexpress.com/post/20200309/16d04e123b1d481ba9c342f7b791a2f9.Png" style="width:165px" alt="合作伙伴"></a>
                            </div>
                        </div>
                        
        </div>
    </div>
    <div class="blank120 visible-md visible-lg"></div>
    <div class="blank60 hidden-md hidden-lg"></div>
</section>