<section class="block-wrap block-service">
    <div class="container">
        <div class="block_title">
            <h2 class="main-title ta-c">SERVICE</h2>
            <h3 class="sub-title ta-c">产品服务</h3>
        </div>
        <div class="service-swiper">
            <div class="swiper-container swiper-container-horizontal" id="service-swiper">
                <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active">
                                <div class="service-box">
                                    <!-- 類別標題 與 類別列表連結-->
                                    <h3 class="title">跨境B2C专线<a href="/Home/ProductServices/1"></a></h3>
                                    <ul class="list">
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线挂号（标快）<a href="/Product/Content/51"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线平邮（标快）<a href="/Product/Content/52"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线挂号（特惠带电）<a href="/Product/Content/53"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线平邮（特惠带电）<a href="/Product/Content/54"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线挂号（特惠普货）<a href="/Product/Content/55"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">挺好全球专线平邮（特惠普货）<a href="/Product/Content/56"></a></li>
                                                <!-- 類別項目超過六個之後出現 更多 連結至該類別列表頁  -->
                                                <div class="item more">更多<a href="/Home/ProductServices/1"></a></div>
                                    </ul>
                                    <div class="img-box">
                                        <!-- 類別圖示 -->
                                        <img src="http://oss.yunexpress.com/post/20201104/33a5a6ebf3cb4d2cade5728a3913de5e.Png" alt="类别图标" data-action="" data-rjs="/webPage/images/icon/ic_humanbox@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next">
                                <div class="service-box">
                                    <!-- 類別標題 與 類別列表連結-->
                                    <h3 class="title">邮政小包<a href="/Product/Index/2"></a></h3>
                                    <ul class="list">
                                            <!-- 類別項目  -->
                                            <li class="item">中国邮政<a href="/Product/Content/41"></a></li>
                                    </ul>
                                    <div class="img-box">
                                        <!-- 類別圖示 -->
                                        <img src="http://oss.yunexpress.com/post/20201104/e8fa1f433dec4eb28b0375664a032b9f.Png" alt="类别图标" data-action="" data-rjs="/webPage/images/icon/ic_humanbox@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="service-box">
                                    <!-- 類別標題 與 類別列表連結-->
                                    <h3 class="title">国际快递<a href="/Product/Index/3"></a></h3>
                                    <ul class="list">
                                            <!-- 類別項目  -->
                                            <li class="item">DHL<a href="/Product/Content/42"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">UPS<a href="/Product/Content/43"></a></li>
                                    </ul>
                                    <div class="img-box">
                                        <!-- 類別圖示 -->
                                        <img src="http://oss.yunexpress.com/post/20201104/3b5ed03845d0418b897c16fa7a5a7f50.Png" alt="类别图标" data-action="" data-rjs="/webPage/images/icon/ic_humanbox@2x.png">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="service-box">
                                    <!-- 類別標題 與 類別列表連結-->
                                    <h3 class="title">FBA转运<a href="/Product/Index/4"></a></h3>
                                    <ul class="list">
                                            <!-- 類別項目  -->
                                            <li class="item">FBA美国专线<a href="/Product/Content/44"></a></li>
                                            <!-- 類別項目  -->
                                            <li class="item">FBA中欧专线<a href="/Product/Content/45"></a></li>
                                    </ul>
                                    <div class="img-box">
                                        <!-- 類別圖示 -->
                                        <img src="http://oss.yunexpress.com/post/20201104/dc54ce135b804b5fbf4b68dff4edaa1f.Png" alt="类别图标" data-action="" data-rjs="/webPage/images/icon/ic_humanbox@2x.png">
                                    </div>
                                </div>
                            </div>

                    <!-- 產品服務 一個類別 開始 -->
                    
                    <!-- 產品服務 一個類別 結束 -->

                </div>
            </div>
        </div>
    </div>
</section>