<app-header></app-header>
<section class="main-layout">
    <div class="md_header_wrap">
        <div class="img-wrap">
            <img src="../../assets/imgs/12.jpg">
        </div>
    </div>
    <div class="container content-wrap">
        <div class="content-container service">
            <div class="sub-title">
                <div class="service-tag-1">
                    <p style="color: #fff;">跨境B2C专线</p>
                </div>
                <h3>挺好全球专线平邮（标快）</h3>
            </div>
            <div class="paragraph">
<h4 class="title">&nbsp;</h4>
</div>

<div class="paragraph">
<table class="sub-table" >
	<colgroup>
		<col class="t-col-w-15">
		<col class="t-col-w-85">
	</colgroup>
	<tbody>
		<tr>
			<th scope="row">产品名称</th>
			<td>
			<p>挺好全球专线平邮（标快）</p>
			</td>
		</tr>
		<tr>
			<th scope="row">运输代码</th>
			<td>
			<p>BKZXU</p>
			</td>
		</tr>
		<tr>
			<th scope="row">货物类型</th>
			<td>包裹（一票一件）</td>
		</tr>
		<tr>
			<th scope="row">清关模式</th>
			<td>
			<p>DDP清关模式（DDP清关方式产生的增值税由发件方支付。）</p>
			</td>
		</tr>
		<tr>
			<th scope="row">参考时效</th>
			<td>
			<p>英国&nbsp;&nbsp; &nbsp;3-6个工作日&nbsp;&nbsp; &nbsp;<br>
			法国&nbsp;&nbsp; &nbsp;3-6个工作日<br>
			意大利&nbsp;6-10个工作日</p>
			</td>
		</tr>
		<tr>
			<th scope="row">包裹限重</th>
			<td>
			<p>&nbsp;0&lt;W≤2kg</p>
			</td>
		</tr>
		<tr>
			<th scope="row">货件尺寸</th>
			<td>
			<p>1.英国：最小尺寸:10*15cm,最长边≤45cm，次长边≤35cm，最短边≤16cm，不接受异形件，如要发异形件加收：150RMB/票&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br>
			2.法国、意大利：最小尺寸：10*15cm，长+宽+高≤90cm，最长边≤60cm，不接受异形件，如要发异形件加收：150RMB/票&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</p>
			</td>
		</tr>
		<tr>
			<th scope="row">计费方式</th>
			<td>
			<p>以G为单位进位。包裹实际重量和体积重量相比，取较大者计算（体积重量计算方式为:长*宽*高cm/8000=KG)</p>
			</td>
		</tr>
		<tr>
			<th scope="row">走货属性</th>
			<td>
			<p>不接受任何侵权产品、纯电、液体、粉末、危险品、枪支弹药等违禁品，可接受内置电池和配套电池。</p>
			</td>
		</tr>
		<tr>
			<th scope="row">申报要求</th>
			<td>需如实申报，且不接受申报价值超过24美金包裹。</td>
		</tr>
		<tr>
			<th scope="row">退件重派服务</th>
			<td>
			<p>本渠道不提供海外退件服务</p>
			</td>
		</tr>
		<tr>
			<th scope="row">派送范围</th>
			<td>
			<p>全境可服务</p>
			</td>
		</tr>
		<tr>
			<th scope="row">包装要求</th>
			<td>规则包装（袋装或纸箱包装），不接受不规则包装<br>
			不规则包裹类型：<br>
			•圆形，圆柱形或椭圆形；<br>
			•不规则形状(如有凸出或凹陷或破损）；<br>
			•含有松散，超重的或重量分布不均的货物；<br>
			•放在一个松散的包裹或拥有<br>
			•不规则形状（即内部货物可以移动，以及运输途中重心变化）<br>
			•标有DHL“GÓRA”贴纸和“ATTENTION! NST ”<br>
			•货物需要特殊服务（在仓库装载时不能自动分拣或者可能损坏其他货物时）<br>
			•含有液体物质（桶，罐，桶等）</td>
		</tr>
	</tbody>
</table>
</div>

<div class="paragraph">
<h4 class="title">&nbsp;</h4>
</div>

<div class="paragraph">
<div class="paragraph">
<p><strong>查询网址</strong></p>

<div class="main-btn outbound"><a href="http://www.yuntrack.com/">YUNTRACK</a></div>

<div class="main-btn outbound"><a href="http://www.17track.net/">17TRACK</a></div>
</div>
</div>

<p>&nbsp;</p>

<p><span class="paragraph"><strong>联系方式</strong></span></p>

<p ><span >联系电话：0755-28507796</span></p>

        </div>
    </div>
</section>